.createQuestPage {
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.infoContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 2em;
    width: 50vw;
    height: 80vh;
}