.createQuestPage {
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.infoContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 2em;
    width: 45vw;
    height: 80vh;
}

@media screen and (max-width: 40em) {
    .createQuestPage {
        flex-direction: column;
    }

    .infoContainer {
        padding: 0;
        width: 100%;
        height: unset;
    }
}