.item {
    width: 45vw;
    padding: 0.5em;
    margin: 0.5em 0;
    border: 2px #9da6b8 solid;
    box-sizing: border-box;
    border-radius: 0.2em;
    transition: 0.2s;
    display: flex;
    justify-content: space-between;
}

.item:hover {
    box-shadow: 0.3em 0.3em 0 #dadfea;
}

.type {
    background: #dadfea;
}

.typeCompleted {
    background: #33FF66;
}

.item:hover .type {
    background: #cfe0f8;
}

@media screen and (max-width: 40em) {
    .item {
        width: 100%;
    }
}