.editor {
    margin: 2em 2em 2em 0;
    border: 2px #9da6b8 solid;
    height: 80vh;
    width: 50vw;
    box-shadow: 0.3em 0.3em 0 #dadfea;
}

.editorHeader {
    background: #dadfea;
    height: 1.5em;
    border-bottom: 2px #9da6b8 solid;
    display: flex;
    align-items: center;
}

.editorHeader div {
    padding: 5px;
    margin: 0 0.5em;
    background: #ffffff;
    border: 2px #9da6b8 solid;
    border-radius: 50%;
}

.editorContainer {
    height: 95%;
    box-sizing: border-box;
    padding: 1em;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}

.editorContainer select {
    padding: 0.5em;
    background: #dadfea;
    border: 2px #9da6b8 solid;
    border-radius: 0.2em;
    margin: 1em 0;
    font-weight: 600;
    color: #5a6170;
}

.title {
    font-size: 1.2em;
    margin-right: 1em;
}

.title input {
    padding: 0.5em;
    border: 2px #9da6b8 solid;
    border-radius: 0.2em;
    margin: 0 0.5em;
    width: 30em;
    box-sizing: border-box;
}

.saveButton {
    /*margin: 1em;*/
    padding: 0.5em;
    background: #dadfea;
    border: 2px #9da6b8 solid;
    border-radius: 0.2em;
    font-weight: 600;
    transition: 0.2s;
}

.saveButton:hover {
    background: #cfe0f8;
}

.buttonsContainer {
    display: flex;
    width: 100%;
    justify-content: flex-end;
    gap: 1em;
}

.titleContainer {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}

@media screen and (max-width: 40em) {
    .editor {
        margin: 1em;
        width: 90%;
    }
}