.logoutButton {
    padding: 0.5em;
    background: #dadfea;
    border: 2px #9da6b8 solid;
    border-radius: 0.2em;
    font-weight: 600;
    transition: 0.2s;
    margin-left: 1em;
}

.logoutButton:hover {
    background: #cfe0f8;
}