.title {
    font-weight: 600;
    padding: 1em 0;
    font-size: 1.2em;
}

.listContainer {
    overflow-y: auto;
    height: 35vh;
    padding-right: 0.5em;
    margin-right: -0.5em;
}

.listContainer::-webkit-scrollbar {
    width: 5px;
}

.listContainer::-webkit-scrollbar-thumb {
    background-color: #dadfea;
    border-radius: 0.2em;
}

.buttonContainer {
    width: 45vw;
    display: flex;
    justify-content: flex-end;
    padding-top: 0.5em;
}

.newButton:hover {
    background: #cfe0f8;
}

@media screen and (max-width: 40em) {
    .list {
        width: 100%;
        padding: 0 1em;
        box-sizing: border-box;
    }

    .listContainer {
        width: 100%;
        overflow-y: unset;
        height: unset;
    }

    .buttonContainer {
        width: 100%;
        margin: 0;
        padding-top: 0.5em;
    }
}