.userPage {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    min-height: 90vh;
}

.userContainer {
    border-bottom: 2px #9da6b8 solid;
    box-sizing: border-box;
    width: 100vw;
    display: flex;
    justify-content: space-between;
}