.completedQuests {
    padding: 1em;
}

.title {
    font-size: 1.2em;
    font-weight: 600;
    padding: 1em;
}

.questsList {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

@media screen and (max-width: 40em) {
    .title {
        text-align: center;
    }
}