header {
    padding: 1em;
    width: 100%;
    box-sizing: border-box;
    border-bottom: 2px #9da6b8 solid;
    /*border-bottom: 2px #dadfea solid;*/

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 1.2em;
}

header a {
    color: #5a6170;
    text-decoration: none;
}