.homePage {
    display: flex;
    width: 98vw;
    box-sizing: border-box;
    justify-content: space-between;
    align-items: stretch;
}

.questsContainer {
    padding: 1em;
    box-sizing: border-box;
    width: 70vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /*border-right: #9da6b8 2px solid;*/
}

@media screen and (max-width: 40em) {
    .homePage {
        flex-direction: column-reverse;
    }

    .questsContainer {
        width: 100%;
    }
}

